
*.bak

*-checkpoint.ipynb

Classware_S000002/*.pdf
Classware_S110056/*.pdf
Notes_S000002/*.xmind
Notes_S110056/*.xmind
Material_S000002/*

Literature_Analysis_S000002/*

Zotero_Record/*/
Zotero_Record/zotero.sqlite?*